<!--dit is de html voor een simpele hoofdpagina met navigatie naar de andere pagina's-->
<header class="main-header">
    <h1>Hoofdpagina</h1>
  </header>
    <div class="standard-container">
      <div class="card">
       
        <h2 class="bigcentertext">Kies een actie om verder te gaan:</h2>
        <div class="center-row" >
            <div class="col">    
          <button class="mpbutton" routerLink="/bestellen">Bestellen</button>
          <button class="mpbutton" routerLink="/overdragen">Overdragen</button>
          <button class="mpbutton" routerLink="/vervoersgegevens">Vervoersgegevens</button>
        </div>
      
        </div>
      </div>
    </div>